
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">查询编辑</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="/"><i class="fa fa-dashboard"></i> <span>控制台</span></a></li>
    <li><a href="/Home/Tables"><i class="fa fa-table"></i> <span>表格</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-edit"></i> <span>表单</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/home/tables">
                    <i class="fa fa-circle-thin"></i><span>简易表单</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle-thin"></i><span>验证表单</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="header">系统设置</li>
</ul>