@{
    Layout = "_Admin";
    ViewData["Title"] = "表格";
}
<div class="box">
    <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-md-12">
                    <table id="myTable" class="table table-bordered table-hover dataTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                select: true,
                serverSide: true,
                ajax: "/home/tablesajax",
                columns: [
                    {
                        name: 'id',
                        data: 'id',
                        title: "Id",
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'name',
                        data: "name",
                        title: "姓名",
                        sortable: true,
                        searchable: true
                    }
                ]
            });
        });
    </script>
}
